@model IEnumerable<CodeFirst.Models.Entities.Branch>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
               <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>

            <td style="width:15%">
                    <img src="@item.Image" class="rounded float-start" style="width:100%; height:10rem">
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BranchId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BranchId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BranchId">Delete</a>
            </td>
                <td>
                    @if (item.IsLocked)
                    {
                        <form asp-action="UnlockBranch" asp-route-branchId="@item.BranchId" method="post">
                            <button type="submit" class="btn btn-success">Mở khóa</button>
                        </form>
                    }
                    else
                    {
                        <form asp-action="LockBranch" asp-route-branchId="@item.BranchId" method="post">
                            <button type="submit" class="btn btn-warning">Tạm khóa</button>
                        </form>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
