@* @using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<link rel="stylesheet" href="~/admin_assets/css/my-task.style.min.css">

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <div class="dropdown user-profile ml-2 ml-sm-3 d-flex align-items-center zindex-popover">
            @if (SignInManager.IsSignedIn(User))
            {
                @if (User.Identity.IsAuthenticated)
                {
                    var user = await UserManager.GetUserAsync(User);
                    var userRoles = await UserManager.GetRolesAsync(user);
                    var rolesAsString = string.Join(", ", userRoles);
                    if (user != null)
                    {
                        <div class="u-info me-2">
                            <p class="mb-0 text-end line-height-sm "><span class="font-weight-bold">@user.UserName</span></p>
                            <small>@rolesAsString</small>
                        </div>
                        <a class="nav-link dropdown-toggle pulse p-0" role="button" data-bs-toggle="dropdown" data-bs-display="static">
                            <img class="avatar lg rounded-circle img-thumbnail" src="@user.Avatar" alt="profile">
                        </a>
                        <div class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-end p-0 m-0">
                            <div class="card border-0 w280">
                                <div class="card-body pb-0">
                                    <div class="d-flex py-1">
                                        <img class="avatar rounded-circle" src="@user.Avatar" alt="profile">
                                        <div class="flex-fill ms-3">
                                            <p class="mb-0"><span class="font-weight-bold">@user.FirstName @user.LastName</span></p>
                                            <small class="">@user.UserName</small>
                                        </div>
                                    </div>
                                    <div><hr class="dropdown-divider border-dark"></div>
                                </div>
                                <div class="list-group m-2 ">
                                    <a style="outline:none;" asp-area="Identity" asp-page="/Account/Manage/Index" type="submit" class="list-group-item list-group-item-action border-0 "><i class="icofont-info-circle fs-6 me-3"><span style="font-size:15px;font-family:Arial;margin-left:15px">Thông tin của tôi</span></i></a>

                                    @if (@rolesAsString != "user")
                                    {
                                        <a style="outline:none;" asp-area="Identity" asp-page="/Account/Manage/Index" type="submit" class="list-group-item list-group-item-action border-0 "><i class="icofont-ui-settings fs-6 me-3"><span style="font-size:15px;font-family:Arial;margin-left:15px">Quản trị hệ thống</span></i></a>
                                    }
                                    <a style="outline:none;" asp-area="" asp-controller="Home" asp-action="Index" type="submit" class="list-group-item list-group-item-action border-0 "><i class="icofont-ui-home fs-6 me-3"><span style="font-size:15px;font-family:Arial;margin-left:15px">Về trang chủ</span></i></a>
                                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button style="outline:none;" type="submit" class="list-group-item list-group-item-action border-0 "><i class="icofont-logout fs-6 me-3"><span style="font-size:15px;font-family:Arial;margin-left:15px">Đăng xuất</span></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
}
else
{
    <li class="nav-item">
            <a id="logout" type="submit" class="nav-link btn" id="register" asp-area="Identity" asp-page="/Account/Register">Đăng ký</a>
    </li>
    <li class="nav-item">
            <a id="logout" type="submit" class="nav-link btn" id="login" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
    </li>
}
</ul>
 *@