@model IEnumerable<CodeFirst.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>

    .rounded-avatar {
        width: 80px;
        height: 80px; /* Đảm bảo kích thước cao và rộng bằng nhau để tạo hình tròn */
        border-radius: 50%; /* Đây là thuộc tính quan trọng để làm cho hình tròn */
        overflow: hidden; /* Đảm bảo hình ảnh không vượt ra khỏi phần tròn */
        margin: 0 auto;
    }

        .rounded-avatar img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* Đảm bảo hình ảnh lấp đầy toàn bộ khu vực tròn */
        }

    .center-table {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    thead {
        position: sticky;
        top: 0; /* Để header cố định ở đầu trang khi cuộn */
        background-color: #fff;
        z-index: 1; /* header hiển thị trên nội dung khác */
    }

    th, td {
        padding: 8px;
        text-align: left;
        border: 1px solid #ddd;
    }

    /* Định dạng cho các cột của bảng */
    th {
        text-align: center;
        color: white;
        background-color: #DC3545; /* Màu nền của tiêu đề cột */
        position: -webkit-sticky;
        position: sticky;
        top: 0; /* Để tiêu đề cột cố định ở đầu trang khi cuộn */
    }

    table {
        margin: 0 auto; /* Để căn giữa theo chiều ngang */
        border-collapse: collapse; /* Để loại bỏ khoảng cách giữa các đường viền của ô */
        width: 100%;
    }

    th, td {
        border: 1px solid #dddddd; /* Đường viền cho các ô trong bảng */
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2; /* Màu nền cho các hàng chẵn */
    }

    tr:nth-child(odd) {
        background-color: #ffffff; /* Màu nền cho các hàng lẻ */
    }

    ul {
        list-style-type: none; /* Loại bỏ dấu chấm li */
        padding-left: 0; /* Loại bỏ khoảng cách bên trái của danh sách */
    }
</style>


<h1>Quản lý người dùng</h1>

@if (ViewData["UserRoles"] != null)
{
    <div class="center-table">
        <!-- Sử dụng class center-table cho toàn bộ bảng -->
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Avatar</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var userRole in ViewData["UserRoles"] as List<Tuple<ApplicationUser, IList<string>>>)
                {
                    <tr>
                        <td>@userRole.Item1.UserName</td>
                        <td>@userRole.Item1.FirstName</td>
                        <td>@userRole.Item1.LastName</td>
                        <td>@userRole.Item1.Email</td>

                        <td>
                            @foreach (var role in userRole.Item2)
                            {
                                @role
                            }
                        </td>
                        <td class="avatar-cell">
                            <!-- Sử dụng class avatar-cell -->
                            <div class="rounded-avatar">
                                @if (string.IsNullOrWhiteSpace(userRole.Item1.Avatar))
                                {
                                    <img alt="avatar" src="https://res.cloudinary.com/dl3hvap4a/image/upload/v1695013819/0f7174f5-348a-4977-947f-343ec34b40d9_profile_picture.png" />
                                }
                                else
                                {
                                    <img alt="avatar" src="@userRole.Item1.Avatar" />
                                }
                            </div>
                        </td>
                        <td style="text-align: center;">
                            <div class="btn-group" role="group">

                                <a asp-area="Admin" asp-action="EditUser" asp-controller="ManageUser" asp-route-id="@userRole.Item1.Id" class="btn btn-outline-info" style="margin-right: 15px;">Edit</a>
                                <form method="post" asp-area="Admin" asp-controller="ManageUser" asp-action="DeleteUser" asp-route-id="@userRole.Item1.Id">
                                    <button type="submit" class="btn btn-outline-danger" style="outline:none">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>No users found.</p>
}

