@model IEnumerable<CodeFirst.Models.Entities.Code>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Quản lý mã khuyến mãi</h1>

<div class="modal fade" id="promoCodeModal" tabindex="-1" role="dialog" aria-labelledby="promoCodeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="promoCodeModalLabel">Tạo mã khuyến mãi</h5>
                <button type="button" class="close" aria-label="Close" id="closeIconPromoCodeModal" style="border-color:transparent;background-color:transparent;outline:none">
                    <span aria-hidden="true"><i class="fa-solid fa-circle-xmark fa-2xl" style="color: #e62719;"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <p>Mã khuyến mãi mới: <span id="promoCode"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="closePromoCodeModal" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="generatePromoCode">Tạo mã</button>
            </div>
        </div>
    </div>
</div>
<div style="display:flex; flex-direction:row; justify-content:space-between">
    <a type="submit" class="btn btn-primary" asp-action="Create">Thêm mã khuyến mãi mới</a>
    <a type="submit" class="btn btn-primary"  asp-action="Index" asp-controller="InvoiceCode">Xem danh sách hóa đơn áp dụng mã giảm giá</a>
    <button style="float:right" type="button" class="btn btn-warning" data-toggle="modal" id="openPromoCodeModal" data-target="#promoCodeModal">
        Tạo mã khuyến mãi
    </button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Mã khuyến mãi
            </th>
            <th>
                Giảm
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Ngày hết hạn
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.CodeId)
                </th>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CodeId">@Html.DisplayFor(modelItem => item.CodeString)</a>
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)%
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity) code
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
                <td>
                    <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.CodeId">Sửa</a> |
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.CodeId">Xóa</a>
                </td>
        </tr>
}
    </tbody>
</table>
<script>
    // random mã code
    function generateRandomCode(length) {
        const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
        let code = '';
        for (let i = 0; i < length; i++) {
            const randomIndex = Math.floor(Math.random() * characters.length);
            code += characters.charAt(randomIndex);
        }
        return code;
    }

    // nút Tạo mã
    document.getElementById('generatePromoCode').addEventListener('click', function () {
        const promoCode = generateRandomCode(15);
        document.getElementById('promoCode').textContent = promoCode;
    });
    // nút mở
    document.getElementById('openPromoCodeModal').addEventListener('click', function () {
        $('#promoCodeModal').modal('show');
    });
    // nút đóng
    document.getElementById('closePromoCodeModal').addEventListener('click', function () {
        $('#promoCodeModal').modal('hide');
    });
    document.getElementById('closeIconPromoCodeModal').addEventListener('click', function () {
        $('#promoCodeModal').modal('hide');
    });
</script>