@model IEnumerable<CodeFirst.Models.Entities.ServiceEntity>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Quản lý dịch vụ</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Thêm dịch vụ</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @item.Price.Value.ToString("#,##0") VNĐ

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceCategory.Name)
            </td>
                <td style="width:15%">
                    <img src="@item.Image" class="rounded float-start" style="width:100%; height:10rem">
                </td>
            <td>
                    <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.ServiceId">Sửa</a> |
                    <a class="btn btn-outline-success" asp-action="Details" asp-route-id="@item.ServiceId">Chi tiết</a> |
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.ServiceId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
