
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Thống kê</h1>

<style>
    .card {
        border-radius: 13px;
    }

    .card-body {
        border: 1px solid #e2e2e2;
        border-top: none;
        border-radius: 0 0 10px 10px;
        position: relative;
    }

    .card-title {
        padding: 10px;
    }

    .d-inline-block {
        padding: 10px;
    }

    .float-right {
        position: absolute;
        top: 92px;
        right: 20px;
    }

    .float-right i {
        opacity: 0.6;
        font-size: 40px;
    }
</style>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card gradient-1">
                <div class="card-body">
                    <h3 class="card-title text-white">Số người dùng</h3>
                    <div class="d-inline-block">
                        <h2 class="text-white">@ViewData["UserCount"]</h2>
                        <p class="text-white mb-0">Tháng @ViewData["CurrentMonth"] - Năm @ViewData["CurrentYear"]</p>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card gradient-2">
                <div class="card-body">
                    <h3 class="card-title text-white">Số hóa đơn</h3>
                    <div class="d-inline-block">
                        <h2 class="text-white">@ViewData["InvoiceCount"]</h2>
                        <p class="text-white mb-0">Tháng @ViewData["CurrentMonth"] - Năm @ViewData["CurrentYear"]</p>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa-solid fa-file-invoice-dollar"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card gradient-3">
                <div class="card-body">
                    <h3 class="card-title text-white">Doanh thu</h3>
                    <div class="d-inline-block">
                        <h3 class="text-white">@ViewData["Total"]</h3>
                        <p class="text-white mb-0">Tháng @ViewData["CurrentMonth"] - Năm @ViewData["CurrentYear"]</p>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card gradient-9">
                <div class="card-body">
                    <h3 class="card-title text-white">Khách / Hóa đơn</h3>
                    <div class="d-inline-block">
                        <h2 class="text-white">@ViewData["CustomerInvoice"]</h2>
                        <p class="text-white mb-0">Tháng @ViewData["CurrentMonth"] - Năm @ViewData["CurrentYear"]</p>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-heart"></i></span>
                </div>
            </div>
        </div>
    </div>

   
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


