@using CodeFirst.Views.Shared
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@{
    var isAuthenticated = User.Identity.IsAuthenticated;
    var avatarUrl = isAuthenticated ? (await UserManager.GetUserAsync(User))?.Avatar : "https://i.pinimg.com/236x/e1/6c/70/e16c704fc0b655e553dd7a1a8a00475d.jpg";
}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Quản lý nhà hàng tiệc cưới</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/icofont@1.0.0/dist/icofont.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/admin_assets/css/stylesheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/mydesign.css" asp-append-version="true" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/admin_assets/css/my-task.style.min.css">
    <link href="~/css/site.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <base href="~/" />
    <component type="typeof(Microsoft.AspNetCore.Components.Web.HeadOutlet)"
               render-mode="ServerPrerendered" />
    <link href='https://fonts.googleapis.com/css?family=Syne Mono' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Patrick Hand SC' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Mali' rel='stylesheet'>

    <style>
        .email-popup {
            position: absolute;
            background-color: white;
            border: 1px solid black;
            border-radius: 0px 10px 5px 5px;
            padding: 5px;
            z-index: 100000;
            left: 50px;
            top: 15px;
        }

        .loading-spinner {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
        }

        .spinner-image {
            width: 190px;
            height: 150px;
        }

        .height {
            height: 100vh;
        }

        .form {
            position: relative;
        }

            .form .fa-search {
                position: absolute;
                top: 20px;
                left: 20px;
                color: #9ca3af;
            }

            .form span {
                position: absolute;
                right: 17px;
                top: 13px;
                padding: 2px;
                border-left: 1px solid #d1d5db;
            }

        .left-pan {
            padding-left: 7px;
        }

            .left-pan i {
                padding-left: 10px;
            }

        .form-input {
            height: 55px;
            text-indent: 33px;
            border-radius: 10px;
        }

            .form-input:focus {
                box-shadow: none;
                border: none;
            }


        .main .sidebar {
            display: none;
        }


        #btn-show-navbar {
            position: fixed;
            top: 42px;
            right: 10px;
            z-index: 1000;
        }

        .swal2-popup {
            z-index: 10001;
            top: 0;
        }

        .toastify {
            font-size: 16px;
            width: 400px;
        }

        .toast-on-top {
            z-index: 9999;
        }

        .message-bubble {
            word-wrap: break-word;
        }

        .chat-room-list {
            width: 100%;
        }

        .chat-room-item {
            width: 100%;
            cursor: pointer;
            line-height: 50px;
        }

        .chat-room-name {
            width: 100%;
            margin-left: 10px;
            padding: 10px;
        }

        .chat-room-item:hover {
            background-color: #E6E6E6;
        }

        .list-group-item:hover {
            background-color: #E6E6E6;
        }

        .selected-room {
            background-color: #3F3F41; /* Màu nền của phòng chat được chọn */
            color: white;
            outline: 2px solid #Ec0a3c;
            border-radius: 5px;
        }


        .list-group-item.active {
            background-color: #3F3F41;
            outline: 2px solid #19ff66;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-xl modal-dialog-centered modal-dialog-scrollable" style="overflow:hidden !important">
            <div class="modal-content" style="height: 100vh !important;">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                        <div class="head-text">
                        </div>
                    </h1>
                    <button style="background-color: transparent;outline: none;border:none;position: absolute;top:20px;left:1rem" data-bs-toggle="modal" data-bs-target="#createChatRoomModal"><i class="fa-solid fa-plus" style="margin-right:9px"></i>Thêm phòng chat</button>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-circle-xmark" style="font-size:30px;color: #c50202;"></i>
                    </button>
                </div>
                <div class="modal-body" style="overflow:hidden !important">
                    <div class="container p-0">
                        <div class="card chat-container">
                            <div class="row g-0">
                                <div class="col-12 col-lg-5 col-xl-3 list-group-container" style="border-right:1px solid #EEEEEE">
                                    <div style="border-right: 1px solid #EEEEEE;" class="px-4 d-none d-md-block">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-grow-1">
                                                <input type="text" class="form-control my-3 search-list-user-chat" placeholder="Tìm ai dị...">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-user-status">
                                        <div class="accordion" id="accordionPanelsStayOpenExample">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header">
                                                    <button class="accordion-button" type="button" style="background-color:#3F3F41;color:white" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                                        <span style="color:white">Nhóm chat</span>
                                                    </button>
                                                </h2>
                                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                                                    <div class="accordion-body">
                                                        <div class="list-room-chat">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header">
                                                    <button class="accordion-button collapsed" style="background-color:#3F3F41" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                                        <span style="color:white">Thành viên</span>
                                                    </button>
                                                </h2>
                                                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                                                    <div class="accordion-body">
                                                        <div class="list-group-online">
                                                        </div>
                                                        <div class="list-group-offline">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="d-block d-lg-none mt-1 mb-0">
                                </div>
                                <div class="col-12 col-lg-7 col-xl-9">
                                    <div class="py-2 px-4 border-bottom d-none d-lg-block" style="background-color:#3F3F41;">
                                        <div class="d-flex align-items-center py-1">
                                            <div class="position-relative ">
                                                <img class="rounded-circle mr-1 avatar-user-current-chat" style="outline:3px solid #F2F2F3;visibility:hidden" width="40" height="40">
                                            </div>
                                            <div class="flex-grow-1 pl-3">
                                                <strong class="user-current-chat" style="color: #ffffff;"></strong>
                                                <div class="my message dot-chat-container" style="visibility:hidden">
                                                    <span class="jumping-dots">
                                                        <span class="dot-1"></span>
                                                        <span class="dot-2"></span>
                                                        <span class="dot-3"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="more-options fa-lg">
                                                <button style="margin-right:5px" class="btn-phone" title="Start a voice call">
                                                    <i class="fa-solid fa-phone" style="color: #ffffff;"></i>
                                                </button>
                                                <button style="margin-right:5px" class="btn-video ml-3" title="Start a video call">
                                                    <i class="fa-solid fa-video" style="color: #ffffff;"></i>
                                                </button>
                                                <button style="margin-right:5px" class="btn-information ml-3">
                                                    <i class="fa-solid fa-info" style="color: #ffffff;"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="position-relative">
                                        <div class="chat-messages-list-room p-4">
                                        </div>
                                        <div class="chat-messages-list p-4">
                                        </div>
                                    </div>

                                    <div class="flex-grow-0  border-top" style="margin-top:20px">
                                        <form class="chatForm" id="publicChatForm" asp-controller="Chat" asp-action="SendMessages" method="post">
                                            <input type="hidden" name="ChatRoomId" class="chatRoomId" value="">

                                            <div class="input-group" style="margin-top:20px">
                                                <input name="Message" style="padding:20px;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;" type="text" class="form-control" placeholder="Type your message">
                                                <button style="background-color:#3F3F41;margin-left:5px;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;" type="submit" class="btn btn-chat"><i style="color:#F2F2F3;font-size:20px;padding-right:40px;padding-left:40px" class="fa-solid fa-paper-plane"></i></button>
                                            </div>
                                        </form>
                                        <form class="chatForm" id="privateChatForm" asp-controller="ChatPrivate" asp-action="SendPrivateMessage" method="post">
                                            <input type="hidden" name="ReceiverUserId" class="receiverUserId" value="" />
                                            <div class="input-group" style="margin-top:20px">
                                                <input name="Message" style="padding:20px;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;" type="text" class="form-control" placeholder="Type your message">
                                                <button style="background-color:#3F3F41;margin-left:5px;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;" type="submit" class="btn btn-chat"><i style="color:#F2F2F3;font-size:20px;padding-right:40px;padding-left:40px" class="fa-solid fa-paper-plane"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </main>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="createChatRoomModal" tabindex="-1" role="dialog" aria-labelledby="createChatRoomModal" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog" role="document" style="margin-top:100px">
            <div class="modal-content" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px; ">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createChatRoomModalLabel">
                        <div class="head-text">
                            Create Room
                        </div>
                    </h1>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-circle-xmark" style="font-size:30px;color: #c50202;"></i>
                    </button>
                </div>
                <div class="modal-body" style="overflow:hidden !important">
                    <div class="container p-0">
                        <div class="card chat-container">
                            <!-- Các phần khác của modal -->
                            <div class="modal-footer">
                                <form id="createChatRoomFormMinhTai">
                                    <input type="text" id="chatRoomName" placeholder="Enter chat room name" required>
                                    <button type="submit" class="btn btn-success">Create Chat Room</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>





    <input type="checkbox" id="click">
    <label class="floatting-btn" for="click" style="z-index:999999;background-color:#484C7F">
        <i class="fa-regular fa-comment-dots" style="z-index:999999;color:white"></i>

        <i class="fas fa-times" style="z-index:999999;color:white"></i>
    </label>
    <div class="wrapper">
 
        <div style="background-color:#3F3F41" class="head-text d-flex justify-content-center">
            <div>
                Chát chit xuyên lục địa<br />
            </div>
            <div>
                <button style="background-color: transparent;outline: none;border:none;position: absolute;top:20px;left:1rem" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-up-right-and-down-left-from-center"></i></button>
            </div>
        </div>
        <div class="chat-box-private">
        </div>
        <div class="chat-box">
        </div>

        <div class="d-flex" style="margin-left:30px; height:5px">
            <strong class="user-current-chatmini" style="color: #3F3F41;margin-right:10px;"></strong>
            <div class="my message dot-chatmini-container" style="visibility:hidden;">
                <span class="jumping-dots">
                    <span class="dot-1" style="background-color:#3F3F41 !important; font-size:2px !important"></span>
                    <span class="dot-2" style="background-color:#3F3F41 !important; font-size:2px !important"></span>
                    <span class="dot-3" style="background-color:#3F3F41 !important; font-size:2px !important"></span>
                </span>
            </div>
        </div>
        <form class="chatForm" id="privateChatFormMini" asp-controller="ChatPrivate" asp-action="SendPrivateMessage" method="post">
            <input type="hidden" name="ReceiverUserId" class="receiverUserId" value="" />
            <div class="input-group" style="margin-top:20px">
                <input name="Message" style="padding:20px;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;" type="text" class="form-control input-current-user" placeholder="Type your message">
                <button style="margin-left:5px;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;" type="submit" class="btn btn-success btn-chat-mini"><i class="fa-solid fa-paper-plane"></i> Gửi</button>
            </div>
        </form>

        <form class="chatForm" id="publicChatFormMini" asp-controller="Chat" asp-action="SendMessages" method="post">
            <input type="hidden" name="ChatRoomId" class="chatRoomId" value="">

            <div class="input-group" style="margin-top:20px">
                <input name="Message" style="padding:20px;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;" type="text" class="form-control input-current-user" placeholder="Type your message">
                <button style="margin-left:5px;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;" type="submit" class="btn btn-success btn-chat-mini"><i class="fa-solid fa-paper-plane"></i> Gửi</button>
            </div>
        </form>
    </div>

    <div id="mytask-layout" class="theme-indigo">
        <div class="loading-spinner" id="loading-spinner">
            <img src="~/admin_assets/images/cf.gif" class="spinner-image" alt="Loading..." />
        </div>

        @* <div class="form-check theme-switch float-button">
        <input class="form-check-input" type="checkbox" id="theme-switch">
        <label class="form-check-label" for="theme-switch">
        <i class="fa-solid fa-moon"></i>
        <i class="fa-solid fa-sun"></i>
        </label>
        </div> *@
        @(await Html.RenderComponentAsync<MainLayout>(RenderMode.Server))
        @* @await Html.PartialAsync("_SideBarPartialView.cshtml") *@
        <!-- main body area -->
        <div class="main px-lg-4 px-md-4">
            <div class="container-fluid">
                <div class="row">

                    <!-- Body: Header -->
                    <div class="header">
                        <nav class="navbar py-4">
                            <div class="container-xxl d-flex align-items-center justify-content-between">
                                <!-- header rightbar icon -->
                                <div class="h-right d-flex align-items-center order-3" style="z-index:1">
                                    <div class="d-flex">
                                        <div class="avatar-list avatar-list-stacked px-3">
                                        </div>
                                    </div>
                                    <div class="dropdown notifications zindex-popover">
                                        <a class="nav-link dropdown-toggle pulse" href="#" role="button" data-bs-toggle="dropdown" onclick="hideNotificationCount()">
                                            <span class="icon-container">
                                                <i class="icofont-alarm fs-5"></i>


                                                <span class="notification-count badge-count"></span>
                                            </span>
                                            <span class="pulse-ring"></span>
                                        </a>

                                        <div id="NotificationsDiv" class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-sm-end p-0 m-0">
                                            <div class="card border-0 w380">
                                                <div class="card-header border-0 p-3">
                                                    <h5 class="mb-0 font-weight-light d-flex justify-content-between">
                                                        <span>Thông báo</span>
                                                        <span class="badge-count text-white"></span>
                                                    </h5>
                                                </div>
                                                <div class="tab-content card-body">
                                                    <div class="tab-pane fade show active">
                                                        <ul id="notification-list" class="list-unstyled list mb-0">
                                                        </ul>
                                                    </div>
                                                </div>

                                                @* <a class="card-footer text-center border-top-0" href="#"> View all notifications</a> *@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dropdown user-profile ml-2 ml-sm-3 d-flex align-items-center zindex-popover">
                                        @if (SignInManager.IsSignedIn(User))
                                        {
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                var user = await UserManager.GetUserAsync(User);
                                                var userRoles = await UserManager.GetRolesAsync(user);
                                                var rolesAsString = string.Join(", ", userRoles);
                                                if (user != null)
                                                {
                                                    <div class="u-info me-2">
                                                        <p class="mb-0 text-end line-height-sm "><span class="font-weight-bold">@user.FirstName @user.LastName</span></p>
                                                        <small>@rolesAsString</small>
                                                    </div>
                                                    <a class="nav-link dropdown-toggle pulse p-0" href="#" role="button" data-bs-toggle="dropdown" data-bs-display="static">
                                                        <img class="avatar lg rounded-circle img-thumbnail" src="@avatarUrl" alt="profile">
                                                    </a>
                                                    <div class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-end p-0 m-0">
                                                        <div class="card border-0 w280">
                                                            <div class="card-body pb-0">
                                                                <div class="d-flex py-1">
                                                                    <img class="avatar rounded-circle" src="@avatarUrl" alt="profile">
                                                                    <div class="flex-fill ms-3">
                                                                        <p class="mb-0"><span class="font-weight-bold">@user.FirstName @user.LastName</span></p>
                                                                        <small class="">@user.UserName</small>
                                                                    </div>
                                                                </div>
                                                                <div><hr class="dropdown-divider border-dark"></div>
                                                            </div>
                                                            <div class="list-group m-2 ">
                                                                <a style="outline:none;" asp-area="Identity" asp-page="/Account/Manage/Index" type="submit" class="list-group-item list-group-item-action border-0 "><i class="icofont-info-circle fs-6 me-3"><span style="font-size:15px;font-family:Arial;margin-left:15px">Thông tin của tôi</span></i></a>

                                                                <a style="outline:none;" asp-area="Identity" asp-page="/Account/Manage/ChangePassword" type="submit" class="list-group-item list-group-item-action border-0 "><i class="icofont-key fs-6 me-3"><span style="font-size:15px;font-family:Arial;margin-left:15px">Đổi mật khẩu</span></i></a>

                                                                <a style="outline:none;" asp-area="" asp-controller="Home" asp-action="Index" type="submit" class="list-group-item list-group-item-action border-0 "><i class="icofont-ui-home fs-6 me-3"><span style="font-size:15px;font-family:Arial;margin-left:15px">Về trang chủ</span></i></a>
                                                                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                                                    <button style="outline:none;" type="submit" class="list-group-item list-group-item-action border-0 "><i class="icofont-logout fs-6 me-3"><span style="font-size:15px;font-family:Arial;margin-left:15px">Đăng xuất</span></i></button>
                                                                </form>
                                                                <div><hr class="dropdown-divider border-dark"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            var defaultAvatarUrl = "https://i.pinimg.com/236x/e1/6c/70/e16c704fc0b655e553dd7a1a8a00475d.jpg"; // Đường dẫn đến ảnh mặc định
                                            var adminUsername = "admin";

                                            <div class="u-info me-2">
                                                <p class="mb-0 text-end line-height-sm "><span class="font-weight-bold">@adminUsername</span></p>
                                                <small>user</small>
                                            </div>
                                            <a class="nav-link dropdown-toggle pulse p-0" href="#" role="button" data-bs-toggle="dropdown" data-bs-display="static">
                                                <img class="avatar lg rounded-circle img-thumbnail" src="@defaultAvatarUrl" alt="profile">
                                            </a>
                                            <div class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-end p-0 m-0">
                                                <div class="card border-0 w280">
                                                    <div class="card-body pb-0">
                                                        <div class="d-flex py-1">
                                                            <img class="avatar rounded-circle" src="@avatarUrl" alt="profile">
                                                            <div class="flex-fill ms-3">
                                                                <p class="mb-0"><span class="font-weight-bold">user</span></p>
                                                                <small class="">user</small>
                                                            </div>
                                                        </div>
                                                        <div><hr class="dropdown-divider border-dark"></div>
                                                    </div>
                                                    <div class="list-group m-2 ">
                                                        <a style="outline:none;" asp-area="" asp-controller="Home" asp-action="Index" type="submit" class="list-group-item list-group-item-action border-0 "><i class="icofont-ui-home fs-6 me-3"><span style="font-size:15px;font-family:Arial;margin-left:15px">Về trang chủ</span></i></a>
                                                        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                                            <button style="outline:none;" type="submit" class="list-group-item list-group-item-action border-0 "><i class="icofont-login fs-6 me-3"><span style="font-size:15px;font-family:Arial;margin-left:15px">Đăng nhập</span></i></button>
                                                        </form>
                                                        <div><hr class="dropdown-divider border-dark"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>

                                <!-- menu toggler -->
                                <button id="btn-show-navbar" class="navbar-toggler p-0 border-0 menu-toggle order-2" type="button" data-bs-toggle="collapse" data-bs-target="#mainHeader">
                                    <span class="fa fa-bars"></span>
                                </button>


                                <!-- main menu Search-->
                                <div class="col-xl-6 col-lg-4 col-md-12 col-sm-12 col-xs-12 col-12">
                                    <div class="form">
                                        <i class="fa fa-search"></i>
                                        <input type="text" class="form-control form-input" placeholder="Tìm kiếm...">

                                        </li>
                                    </div>

                                </div>
                            </div>
                        </nav>
                    </div>
                </div>

                @RenderBody()



            </div>
        </div>
        <script src="_content/MudBlazor/MudBlazor.min.js"></script>

        <base href="~/" />
        <script src="_framework/blazor.server.js"></script>
        <script src="_content/Microsoft.AspNetCore.Components.Web.Extensions/script.js"></script>
        @* jquery vào để dùng chức năng submit mà k load trang*@
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script type="text/javascript">
            $('.chat-messages-list').css('display', 'none');
            $('.chat-box').css('display', 'none');
            $(document).ready(function () {
                $(document).on('click', '.selected-room', function () {
                    $('.chat-messages-list').hide();
                    $('.chat-messages-list-room').show(); 
                    $('.chat-box').show(); 
                    $('.chat-box-private').hide(); 

                });

                $('.list-group-online, .list-group-offline').on('click', function () {
                    $('.chat-messages-list-room').hide(); 
                    $('.chat-messages-list').show(); 

                    $('.chat-box').hide();
                    $('.chat-box-private').show(); 
                });
            });




            $(document).ready(function () {
                $('.list-group-item').on('click', function () {
                    $('.list-group-item').removeClass('selected-item');
                    $(this).addClass('selected-item');
                });
            });

            $(document).ready(function () {
                $('#publicChatForm').hide();
                $('.list-group-offline').on('click', function () {
                    $('#publicChatForm').hide();
                    $('#privateChatForm').show();
                    $('#privateChatFormMini').show();
                    $('#publicChatFormMini').hide();
                });
                $('.list-group-online').on('click', function () {
                    $('#publicChatForm').hide();
                    $('#privateChatForm').show();
                    $('#privateChatFormMini').show();
                    $('#publicChatFormMini').hide();
                });
                $('.list-room-chat').on('click', function () {
                    $('#publicChatForm').show();
                    $('#privateChatForm').hide();

                    $('#privateChatFormMini').hide();
                    $('#publicChatFormMini').show();
                });
            });


            $(document).ready(function () {
                var isModalVisible = false;
                var isCollapse = false;

                $(document).on('keydown', function (event) {
                    if (isModalVisible && event.altKey && event.key.toLowerCase() === 'c') {
                        // Đóng modal
                        $('#exampleModal').modal('hide');
                        isModalVisible = false;
                    } else if (!isModalVisible && event.altKey && event.key.toLowerCase() === 'c') {
                        $('#exampleModal').modal('show');
                        isModalVisible = true;
                    }

                    if (event.altKey && event.key.toLowerCase() === 'q') {
                        // Hiển thị hoặc ẩn tất cả các accordion
                        $('.accordion-collapse').toggleClass('show collapse');
                    }
                });
            });





            $(document).ready(function () {
                $('#createChatRoomFormMinhTai').on('submit', function (event) {
                    event.preventDefault(); // Ngăn chặn việc tải lại trang
                    var chatRoomName = $('#chatRoomName').val();
                    $.ajax({
                        url: '/ChatRoom/CreateRoom',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({ Name: chatRoomName }),
                        success: function (data) {
                            console.log('Success:', data);
                        },
                        error: function (error) {
                            console.error('Error:', error);
                        }
                    });
                });
            });


            document.querySelector('.search-list-user-chat').addEventListener('input', function () {
                var searchValue = this.value.toLowerCase();

                var userList = document.querySelectorAll('.list-group-item');
                userList.forEach(function (user) {
                    var username = user.querySelector('.username').textContent.toLowerCase()
                    if (username.includes(searchValue)) {
                        user.style.display = 'block';
                    } else {
                        user.style.display = 'none';
                    }
                });
            });


            function scrollToBottomWhenSendMessage() {
                setTimeout(() => {
                    const chatMessagesList = document.querySelector('chat-message-right');
                    if (chatMessagesList) {
                        chatMessagesList.scrollTop = chatMessagesList.scrollHeight;
                    }
                    const chatMessagesListMini = document.querySelector('.chat-message');
                    if (chatMessagesListMini) {
                        chatMessagesListMini.scrollTop = chatMessagesListMini.scrollHeight;
                    }
                }, 1000);
            }
            function scrollToBottom() {
                setTimeout(() => {
                    const chatMessagesList = document.querySelector('.chat-messages-list');
                    if (chatMessagesList) {
                        chatMessagesList.scrollTop = chatMessagesList.scrollHeight;
                    }
                }, 1000);
            }
            const themeSwitch = document.getElementById('theme-switch');

            themeSwitch.addEventListener('change', function () {
                const moonIcon = document.querySelector('.fa-moon');
                const sunIcon = document.querySelector('.fa-sun');

                if (this.checked) {
                    moonIcon.style.display = 'none';
                    sunIcon.style.display = 'inline';
                } else {
                    moonIcon.style.display = 'inline';
                    sunIcon.style.display = 'none';
                }
            });


            // let isClicked = localStorage.getItem('isClicked') === 'true';

            // function hideNotificationCount() {
            //     // Cập nhật trạng thái
            //     isClicked = true;
            //     localStorage.setItem('isClicked', 'true');

            //     // Ẩn notification-count
            //     const notificationCount = document.querySelector('.notification-count');
            //     notificationCount.style.visibility = 'hidden';

            // }

            // // Hiển thị notification-count dựa trên trạng thái
            // const notificationCount = document.querySelector('.notification-count');
            // if (isClicked) {
            //     notificationCount.style.visibility = 'hidden';
            // } else {
            //     notificationCount.style.visibility = 'visible';
            // }

            // function getRandomImageUrl(width, height) {
            //     return `https://picsum.photos/${width}/${height}?random=${Math.floor(Math.random() * 1000)}`;
            // }
            // var numberOfImages = 3;
            // var avatarList = document.querySelector('.avatar-list');

            // for (var i = 0; i < numberOfImages; i++) {
            //     var img = document.createElement('img');
            //     img.classList.add('avatar', 'rounded-circle');
            //     img.src = getRandomImageUrl(50, 50);
            //     img.alt = 'Avatar';
            //     avatarList.appendChild(img);
            // }


            // (function () {
            //     var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            //     s1.async = true;
            //     s1.src = 'https://embed.tawk.to/654a847da84dd54dc489870d/1helhb2rj';
            //     s1.charset = 'UTF-8';
            //     s1.setAttribute('crossorigin', '*');
            //     s0.parentNode.insertBefore(s1, s0);
            // })();

        </script>
        <!-- Thêm các tệp CSS và JS của iziToast -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>



        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-R3PiqjPUr7Ys9/+ZoOkIYft6PkaP0a+KbPlpJDt1QXZlGK1x6/vYsbAq+uH6q/3BUb3QQvnyxxLW4mV4VRRb0w==" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-4PsbzoOXvoWyhW9vhv5V5JpOZsmWOFmMl3TG2m1FO4a66cTymIi6JfJd5qDXE+xKW6fFn1Tc/G0P6tBBfWSDBw==" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="~/js/notification.js"></script>
        @* signalR *@
        <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
        <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
        <a href="~/lib/microsoft/signalr/dist/browser/signalr.min.js.map"></a>


        <script src="~/admin_assets/bundles/libscripts.bundle.js"></script>
        <script src="~/admin_assets/bundles/apexcharts.bundle.js"></script>
        <script src="~/admin_assets/page/hr.js"></script>
        <script src="~/admin_assets/template.js"></script>
        <script src="~/js/qrcode.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.min.js" integrity="sha512-7U4rRB8aGAHGVad3u2jiC7GA5/1YhQcQjxKeaVms/bT66i3LVBMRcBI9KwABNWnxOSwulkuSXxZLGuyfvo7V1A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="~/js/site.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        @* ajax *@
        @await RenderSectionAsync("Scripts", required: false)

        @await Component.InvokeAsync("Notyf")
        <script>
            window.addEventListener("load", function () {
                var spinner = document.getElementById("loading-spinner");
                setTimeout(function () {
                    spinner.style.display = "none";
                }, 10);
            });
        </script>
</body>

</html> 