@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Quản lý nhà hàng tiệc cưới</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->
    <!-- project css file  -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/admin_assets/css/stylesheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/mydesign.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/admin_assets/css/my-task.style.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <style>
        /* CSS cho spinner */
        .loading-spinner {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.8); /* Một lớp mờ */
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999; /* Đảm bảo spinner nằm phía trên cùng */
        }

        .spinner-image {
            width: 190px; /* Điều chỉnh kích thước spinner theo mong muốn */
            height: 150px;
        }
    </style>
</head>
<body>
   
    <div id="mytask-layout" class="theme-indigo">
        <div class="loading-spinner" id="loading-spinner">
            <img src="~/admin_assets/images/cf.gif" class="spinner-image" alt="Loading..." />
        </div>
        @await Html.PartialAsync("_SideBarPartialView.cshtml")

        <!-- main body area -->
        <div class="main px-lg-4 px-md-4">

            <!-- Body: Header -->
            <div class="header">
                <nav class="navbar py-4">
                    <div class="container-xxl">

                        <!-- header rightbar icon -->
                        <div class="h-right d-flex align-items-center mr-5 mr-lg-0 order-1">
                            <div class="d-flex">
                               
                            </div>
                            
                            <div class="dropdown user-profile ml-2 ml-sm-3 d-flex align-items-center zindex-popover">
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                        var user = await UserManager.GetUserAsync(User);
                                        var userRoles = await UserManager.GetRolesAsync(user);
                                        var rolesAsString = string.Join(", ", userRoles);
                                        if (user != null)
                                            {
                                                <div class="u-info me-2">
                                                    <p class="mb-0 text-end line-height-sm "><span class="font-weight-bold">@user.FirstName @user.LastName</span></p>
                                                    <small>@rolesAsString</small>
                                                </div>
                                                <a class="nav-link dropdown-toggle pulse p-0" href="#" role="button" data-bs-toggle="dropdown" data-bs-display="static">
                                                    <img class="avatar lg rounded-circle img-thumbnail" src="@user.Avatar" alt="profile">
                                                </a>
                                                <div class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-end p-0 m-0">
                                                    <div class="card border-0 w280">
                                                        <div class="card-body pb-0">
                                                            <div class="d-flex py-1">
                                                                <img class="avatar rounded-circle" src="@user.Avatar" alt="profile">
                                                                <div class="flex-fill ms-3">
                                                                    <p class="mb-0"><span class="font-weight-bold">@user.FirstName @user.LastName</span></p>
                                                                    <small class="">@user.UserName</small>
                                                                </div>
                                                            </div>
                                                            <div><hr class="dropdown-divider border-dark"></div>
                                                        </div>
                                                        <div class="list-group m-2 ">
                                                        <a style="outline:none;" asp-area="Identity" asp-page="/Account/Manage/Index" type="submit" class="list-group-item list-group-item-action border-0 "><i class="icofont-info-circle fs-6 me-3"><span style="font-size:15px;font-family:Arial;margin-left:15px">Thông tin của tôi</span></i></a>

                                                        <a style="outline:none;" asp-area="Identity" asp-page="/Account/Manage/ChangePassword" type="submit" class="list-group-item list-group-item-action border-0 "><i class="icofont-key fs-6 me-3"><span style="font-size:15px;font-family:Arial;margin-left:15px">Đổi mật khẩu</span></i></a>

                                                            <a style="outline:none;" asp-area="" asp-controller="Home" asp-action="Index" type="submit" class="list-group-item list-group-item-action border-0 "><i class="icofont-ui-home fs-6 me-3"><span style="font-size:15px;font-family:Arial;margin-left:15px">Về trang chủ</span></i></a>
                                                            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                                                <button style="outline:none;" type="submit" class="list-group-item list-group-item-action border-0 "><i class="icofont-logout fs-6 me-3"><span style="font-size:15px;font-family:Arial;margin-left:15px">Đăng xuất</span></i></button>
                                                            </form>
                                                            <div><hr class="dropdown-divider border-dark"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                }
                            </div>
                        </div>

                        <!-- menu toggler -->
                        <button class="navbar-toggler p-0 border-0 menu-toggle order-3" type="button" data-bs-toggle="collapse" data-bs-target="#mainHeader">
                            <span class="fa fa-bars"></span>
                        </button>

                        <!-- main menu Search-->
                        <div class="order-0 col-lg-4 col-md-4 col-sm-12 col-12 mb-3 mb-md-0 ">
                           
                        </div>

                    </div>
                </nav>
            </div>
            @RenderBody()

       @*      <!-- Body: Body -->
            <div class="body d-flex py-3">
                <div class="container-xxl">
                    <div class="row clearfix g-3">
                        <div class="col-xl-8 col-lg-12 col-md-12 flex-column">
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                                            <h6 class="mb-0 fw-bold ">Employees Info</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="ac-line-transparent" id="apex-emplyoeeAnalytics"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                                            <h6 class="mb-0 fw-bold ">Employees Availability</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="row g-2 row-deck">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="card">
                                                        <div class="card-body ">
                                                            <i class="icofont-checked fs-3"></i>
                                                            <h6 class="mt-3 mb-0 fw-bold small-14">Attendance</h6>
                                                            <span class="text-muted">400</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="card">
                                                        <div class="card-body ">
                                                            <i class="icofont-stopwatch fs-3"></i>
                                                            <h6 class="mt-3 mb-0 fw-bold small-14">Late Coming</h6>
                                                            <span class="text-muted">17</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="card">
                                                        <div class="card-body ">
                                                            <i class="icofont-ban fs-3"></i>
                                                            <h6 class="mt-3 mb-0 fw-bold small-14">Absent</h6>
                                                            <span class="text-muted">06</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="card">
                                                        <div class="card-body ">
                                                            <i class="icofont-beach-bed fs-3"></i>
                                                            <h6 class="mt-3 mb-0 fw-bold small-14">Leave Apply</h6>
                                                            <span class="text-muted">14</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                                            <h6 class="mb-0 fw-bold ">Total Employees</h6>
                                            <h4 class="mb-0 fw-bold ">423</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="mt-3" id="apex-MainCategories"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                                            <h6 class="mb-0 fw-bold ">Top Hiring Sources</h6>
                                        </div>
                                        <div class="card-body">
                                            <div id="hiringsources"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-12 col-md-12">
                            <div class="row g-3 row-deck">
                                <div class="col-md-6 col-lg-6 col-xl-12">
                                    <div class="card bg-primary">
                                        <div class="card-body row">
                                            <div class="col">
                                                <span class="avatar lg bg-white rounded-circle text-center d-flex align-items-center justify-content-center"><i class="icofont-file-text fs-5"></i></span>
                                                <h1 class="mt-3 mb-0 fw-bold text-white">1546</h1>
                                                <span class="text-white">Applications</span>
                                            </div>
                                            <div class="col">
                                                <img class="img-fluid" src="~/admin_assets/images/interview.svg" alt="interview">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-12  flex-column">
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center flex-fill">
                                                <span class="avatar lg light-success-bg rounded-circle text-center d-flex align-items-center justify-content-center"><i class="icofont-users-alt-2 fs-5"></i></span>
                                                <div class="d-flex flex-column ps-3  flex-fill">
                                                    <h6 class="fw-bold mb-0 fs-4">246</h6>
                                                    <span class="text-muted">Interviews</span>
                                                </div>
                                                <i class="icofont-chart-bar-graph fs-3 text-muted"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center flex-fill">
                                                <span class="avatar lg light-success-bg rounded-circle text-center d-flex align-items-center justify-content-center"><i class="icofont-holding-hands fs-5"></i></span>
                                                <div class="d-flex flex-column ps-3 flex-fill">
                                                    <h6 class="fw-bold mb-0 fs-4">101</h6>
                                                    <span class="text-muted">Hired</span>
                                                </div>
                                                <i class="icofont-chart-line fs-3 text-muted"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <div class="card">
                                        <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                                            <h6 class="mb-0 fw-bold ">Upcomming Interviews</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="flex-grow-1">
                                                <div class="py-2 d-flex align-items-center border-bottom flex-wrap">
                                                    <div class="d-flex align-items-center flex-fill">
                                                        <img class="avatar lg rounded-circle img-thumbnail" src="~/admin_assets/images/lg/avatar2.jpg" alt="profile">
                                                        <div class="d-flex flex-column ps-3">
                                                            <h6 class="fw-bold mb-0 small-14">Natalie Gibson</h6>
                                                            <span class="text-muted">Ui/UX Designer</span>
                                                        </div>
                                                    </div>
                                                    <div class="time-block text-truncate">
                                                        <i class="icofont-clock-time"></i> 1.30 - 1:30
                                                    </div>
                                                </div>
                                                <div class="py-2 d-flex align-items-center border-bottom flex-wrap">
                                                    <div class="d-flex align-items-center flex-fill">
                                                        <img class="avatar lg rounded-circle img-thumbnail" src="~/admin_assets/images/lg/avatar9.jpg" alt="profile">
                                                        <div class="d-flex flex-column ps-3">
                                                            <h6 class="fw-bold mb-0 small-14">Peter	Piperg</h6>
                                                            <span class="text-muted">Web Design</span>
                                                        </div>
                                                    </div>
                                                    <div class="time-block text-truncate">
                                                        <i class="icofont-clock-time"></i> 9.00 - 1:30
                                                    </div>
                                                </div>
                                                <div class="py-2 d-flex align-items-center border-bottom flex-wrap">
                                                    <div class="d-flex align-items-center flex-fill">
                                                        <img class="avatar lg rounded-circle img-thumbnail" src="~/admin_assets/images/lg/avatar12.jpg" alt="profile">
                                                        <div class="d-flex flex-column ps-3">
                                                            <h6 class="fw-bold mb-0 small-14">Robert Young</h6>
                                                            <span class="text-muted">PHP Developer</span>
                                                        </div>
                                                    </div>
                                                    <div class="time-block text-truncate">
                                                        <i class="icofont-clock-time"></i> 1.30 - 2:30
                                                    </div>
                                                </div>
                                                <div class="py-2 d-flex align-items-center border-bottom flex-wrap">
                                                    <div class="d-flex align-items-center flex-fill">
                                                        <img class="avatar lg rounded-circle img-thumbnail" src="~/admin_assets/images/lg/avatar8.jpg" alt="profile">
                                                        <div class="d-flex flex-column ps-3">
                                                            <h6 class="fw-bold mb-0 small-14">Victoria Vbell</h6>
                                                            <span class="text-muted">IOS Developer</span>
                                                        </div>
                                                    </div>
                                                    <div class="time-block text-truncate">
                                                        <i class="icofont-clock-time"></i> 2.00 - 3:30
                                                    </div>
                                                </div>
                                                <div class="py-2 d-flex align-items-center border-bottom flex-wrap">
                                                    <div class="d-flex align-items-center flex-fill">
                                                        <img class="avatar lg rounded-circle img-thumbnail" src="~/admin_assets/images/lg/avatar7.jpg" alt="profile">
                                                        <div class="d-flex flex-column ps-3">
                                                            <h6 class="fw-bold mb-0 small-14">Mary Butler</h6>
                                                            <span class="text-muted">Writer</span>
                                                        </div>
                                                    </div>
                                                    <div class="time-block text-truncate">
                                                        <i class="icofont-clock-time"></i> 4.00 - 4:30
                                                    </div>
                                                </div>
                                                <div class="py-2 d-flex align-items-center border-bottom flex-wrap">
                                                    <div class="d-flex align-items-center flex-fill">
                                                        <img class="avatar lg rounded-circle img-thumbnail" src="~/admin_assets/images/lg/avatar3.jpg" alt="profile">
                                                        <div class="d-flex flex-column ps-3">
                                                            <h6 class="fw-bold mb-0 small-14">Youn Bel</h6>
                                                            <span class="text-muted">Unity 3d</span>
                                                        </div>
                                                    </div>
                                                    <div class="time-block text-truncate">
                                                        <i class="icofont-clock-time"></i> 7.00 - 8.00
                                                    </div>
                                                </div>
                                                <div class="py-2 d-flex align-items-center  flex-wrap">
                                                    <div class="d-flex align-items-center flex-fill">
                                                        <img class="avatar lg rounded-circle img-thumbnail" src="~/admin_assets/images/lg/avatar2.jpg" alt="profile">
                                                        <div class="d-flex flex-column ps-3">
                                                            <h6 class="fw-bold mb-0 small-14">Gibson Butler</h6>
                                                            <span class="text-muted">Networking</span>
                                                        </div>
                                                    </div>
                                                    <div class="time-block text-truncate">
                                                        <i class="icofont-clock-time"></i> 8.00 - 9.00
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card light-danger-bg">
                                <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                                    <h6 class="mb-0 fw-bold ">Top Perfrormers</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-12 col-lg-4 col-xl-4 col-xxl-2">
                                            <p>You have 140 <span class="fw-bold">influencers </span> in your company.</p>
                                            <div class="d-flex  justify-content-between text-center">
                                                <div class="">
                                                    <h3 class="fw-bold">350</h3>
                                                    <span class="small">New Task</span>
                                                </div>
                                                <div class="">
                                                    <h3 class="fw-bold">130</h3>
                                                    <span class="small">Task Completed</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-10">
                                            <div class="row g-3 row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-6 row-deck top-perfomer">
                                                <div class="col">
                                                    <div class="card shadow">
                                                        <div class="card-body text-center d-flex flex-column justify-content-center">
                                                            <img class="avatar lg rounded-circle img-thumbnail mx-auto" src="~/admin_assets/images/lg/avatar2.jpg" alt="profile">
                                                            <h6 class="fw-bold my-2 small-14">Luke Short</h6>
                                                            <span class="text-muted mb-2"></span>
                                                            <h4 class="fw-bold text-primary fs-3">80%</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="card shadow">
                                                        <div class="card-body text-center d-flex flex-column justify-content-center">
                                                            <img class="avatar lg rounded-circle img-thumbnail mx-auto" src="~/admin_assets/images/lg/avatar5.jpg" alt="profile">
                                                            <h6 class="fw-bold my-2 small-14">John Hard</h6>
                                                            <span class="text-muted mb-2"></span>
                                                            <h4 class="fw-bold text-primary fs-3">70%</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="card shadow">
                                                        <div class="card-body text-center d-flex flex-column justify-content-center">
                                                            <img class="avatar lg rounded-circle img-thumbnail mx-auto" src="~/admin_assets/images/lg/avatar8.jpg" alt="profile">
                                                            <h6 class="fw-bold my-2 small-14">Paul Rees</h6>
                                                            <span class="text-muted mb-2"></span>
                                                            <h4 class="fw-bold text-primary fs-3">77%</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="card shadow">
                                                        <div class="card-body text-center d-flex flex-column justify-content-center">
                                                            <img class="avatar lg rounded-circle img-thumbnail mx-auto" src="~/admin_assets/images/lg/avatar9.jpg" alt="profile">
                                                            <h6 class="fw-bold my-2 small-14">Rachel Parr</h6>
                                                            <span class="text-muted mb-2"></span>
                                                            <h4 class="fw-bold text-primary fs-3">85%</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="card shadow">
                                                        <div class="card-body text-center d-flex flex-column justify-content-center">
                                                            <img class="avatar lg rounded-circle img-thumbnail mx-auto" src="~/admin_assets/images/lg/avatar12.jpg" alt="profile">
                                                            <h6 class="fw-bold my-2 small-14">Eric Reid</h6>
                                                            <span class="text-muted mb-2"></span>
                                                            <h4 class="fw-bold text-primary fs-3">95%</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="card shadow">
                                                        <div class="card-body text-center d-flex flex-column justify-content-center">
                                                            <img class="avatar lg rounded-circle img-thumbnail mx-auto" src="~/admin_assets/images/lg/avatar3.jpg" alt="profile">
                                                            <h6 class="fw-bold my-2 small-14">Jan Ince</h6>
                                                            <span class="text-muted mb-2"></span>
                                                            <h4 class="fw-bold text-primary fs-3">97%</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Row End -->
                </div>
            </div>

            <!-- Modal Members-->
            <div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="addUserLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title  fw-bold" id="addUserLabel">Employee Invitation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="inviteby_email">
                                <div class="input-group mb-3">
                                    <input type="email" class="form-control" placeholder="Email address" id="exampleInputEmail1" aria-describedby="exampleInputEmail1">
                                    <button class="btn btn-dark" type="button" id="button-addon2">Sent</button>
                                </div>
                            </div>
                            <div class="members_list">
                                <h6 class="fw-bold ">Employee </h6>
                                <ul class="list-unstyled list-group list-group-custom list-group-flush mb-0">
                                    <li class="list-group-item py-3 text-center text-md-start">
                                        <div class="d-flex align-items-center flex-column flex-sm-column flex-md-column flex-lg-row">
                                            <div class="no-thumbnail mb-2 mb-md-0">
                                                <img class="avatar lg rounded-circle" src="~/admin_assets/images/xs/avatar2.jpg" alt="">
                                            </div>
                                            <div class="flex-fill ms-3 text-truncate">
                                                <h6 class="mb-0  fw-bold">Rachel Carr(you)</h6>
                                                <span class="text-muted">rachel.carr@gmail.com</span>
                                            </div>
                                            <div class="members-action">
                                                <span class="members-role ">Admin</span>
                                                <div class="btn-group">
                                                    <button type="button" class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="icofont-ui-settings  fs-6"></i>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-end">
                                                        <li><a class="dropdown-item" href="#"><i class="icofont-ui-password fs-6 me-2"></i>ResetPassword</a></li>
                                                        <li><a class="dropdown-item" href="#"><i class="icofont-chart-line fs-6 me-2"></i>ActivityReport</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item py-3 text-center text-md-start">
                                        <div class="d-flex align-items-center flex-column flex-sm-column flex-md-column flex-lg-row">
                                            <div class="no-thumbnail mb-2 mb-md-0">
                                                <img class="avatar lg rounded-circle" src="~/admin_assets/images/xs/avatar3.jpg" alt="">
                                            </div>
                                            <div class="flex-fill ms-3 text-truncate">
                                                <h6 class="mb-0  fw-bold">Lucas Baker<a href="#" class="link-secondary ms-2">(Resend invitation)</a></h6>
                                                <span class="text-muted">lucas.baker@gmail.com</span>
                                            </div>
                                            <div class="members-action">
                                                <div class="btn-group">
                                                    <button type="button" class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                        Members
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-end">
                                                        <li>
                                                            <a class="dropdown-item" href="#">
                                                                <i class="icofont-check-circled"></i>

                                                                <span>All operations permission</span>
                                                            </a>

                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#">
                                                                <i class="fs-6 p-2 me-1"></i>
                                                                <span>Only Invite & manage team</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="btn-group">
                                                    <button type="button" class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="icofont-ui-settings  fs-6"></i>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-end">
                                                        <li><a class="dropdown-item" href="#"><i class="icofont-delete-alt fs-6 me-2"></i>Delete Member</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item py-3 text-center text-md-start">
                                        <div class="d-flex align-items-center flex-column flex-sm-column flex-md-column flex-lg-row">
                                            <div class="no-thumbnail mb-2 mb-md-0">
                                                <img class="avatar lg rounded-circle" src="~/admin_assets/images/xs/avatar8.jpg" alt="">
                                            </div>
                                            <div class="flex-fill ms-3 text-truncate">
                                                <h6 class="mb-0  fw-bold">Una Coleman</h6>
                                                <span class="text-muted">una.coleman@gmail.com</span>
                                            </div>
                                            <div class="members-action">
                                                <div class="btn-group">
                                                    <button type="button" class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                        Members
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-end">
                                                        <li>
                                                            <a class="dropdown-item" href="#">
                                                                <i class="icofont-check-circled"></i>

                                                                <span>All operations permission</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#">
                                                                <i class="fs-6 p-2 me-1"></i>
                                                                <span>Only Invite & manage team</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="btn-group">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="icofont-ui-settings  fs-6"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-end">
                                                            <li><a class="dropdown-item" href="#"><i class="icofont-ui-password fs-6 me-2"></i>ResetPassword</a></li>
                                                            <li><a class="dropdown-item" href="#"><i class="icofont-chart-line fs-6 me-2"></i>ActivityReport</a></li>
                                                            <li><a class="dropdown-item" href="#"><i class="icofont-delete-alt fs-6 me-2"></i>Suspend member</a></li>
                                                            <li><a class="dropdown-item" href="#"><i class="icofont-not-allowed fs-6 me-2"></i>Delete Member</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> *@
        </div>
    </div>
    <script type="text/javascript">

        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/654a847da84dd54dc489870d/1helhb2rj';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();

    </script>
    <!-- Jquery Core Js -->
    <script src="~/admin_assets/bundles/libscripts.bundle.js"></script>

    <!-- Plugin Js-->
    <script src="~/admin_assets/bundles/apexcharts.bundle.js"></script>

    <!-- Jquery Page Js -->
    <script src="~/admin_assets/page/hr.js"></script>
    <script src="~/admin_assets/template.js"></script>
    <script src="~/js/qrcode.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.min.js" integrity="sha512-7U4rRB8aGAHGVad3u2jiC7GA5/1YhQcQjxKeaVms/bT66i3LVBMRcBI9KwABNWnxOSwulkuSXxZLGuyfvo7V1A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @* ajax *@
    @await RenderSectionAsync("Scripts", required: false)

    @await Component.InvokeAsync("Notyf")
        <script>
        // Bắt đầu hiển thị spinner khi trang bắt đầu tải
        window.addEventListener("load", function () {
            var spinner = document.getElementById("loading-spinner");
            setTimeout(function () {
            spinner.style.display = "none"; // Ẩn spinner sau 2 giây
        }, 500); // Điều này đại diện cho 2 giây (2000 milliseconds)
        });
        </script>
</body>

</html> 