@model List<ApplicationUser>
@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>UserId: @ViewData["UserId"]</p>
</div>

@foreach (var user in Model)
{
    <ul>
        <li>@user.FirstName @user.LastName @user.UserName</li>
    </ul>
} *@


<h1>User Roles</h1>

@if (ViewData["UserRoles"] != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Roles</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var userRole in ViewData["UserRoles"] as List<Tuple<ApplicationUser, IList<string>>>)
            {
                <tr>
                    <td>@userRole.Item1.UserName</td>
                    <td>@userRole.Item1.Email</td>
                    <td>
                        <ul>
                            @foreach (var role in userRole.Item2)
                            {
                                <li>@role</li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No users found.</p>
}
