@model CodeFirst.Models.Entities.Invoice

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    /* CSS */
    .invoice-container {
        border-radius:8px;
        padding: 20px;
        margin: 20px;
        width: 80%;
        background-color: #fff;
        box-shadow: 7px 6px 10px 6px rgba(16, 24, 89, 0.1);
    }

    .menu-item, .service-item {
        margin-bottom: 10px;
    }

    .menu-name, .service-name {
        font-weight: bold;
    }

    .total-amount {
        font-size: 18px;
        color: #FF5733;
    }

    .hall-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hall-name {
        flex: 1; /* Tên sảnh chiếm toàn bộ không gian trái */
    }

    .hall-price {
        flex: 1; /* Giá sảnh chiếm toàn bộ không gian phải */
        text-align: right; /* Căn giữa bên phải */
    }

    .menu-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-name {
        flex: 1; /* Tên món ăn chiếm toàn bộ không gian bên trái */
    }

    .menu-price {
        flex: 1; /* Giá món ăn chiếm toàn bộ không gian bên phải */
        text-align: right; /* Căn giữa bên phải */
    }

    .service-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .service-name {
        flex: 1; /* Tên món ăn chiếm toàn bộ không gian bên trái */
    }

    .service-price {
        flex: 1; /* Giá món ăn chiếm toàn bộ không gian bên phải */
        text-align: right; /* Căn giữa bên phải */
    }

    .total-amount.float-right {
        float: right;
        font-size: 18px;
        color: #FF5733;
    }
    #btnExportPdf{
        float: right;
    }
    .invoice-container{
        margin:0 auto;
    }
</style>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Identity" asp-page="/Account/Manage/Index">Trang chủ</a></li>
        <li class="breadcrumb-item"><a  asp-area="Admin" asp-action="Index" asp-controller="Invoice">Danh sách hóa đơn</a></li>

        <li class="breadcrumb-item"><a class="my-active-link" asp-area="Admin" asp-action="Details" asp-controller="Invoice" >Chi tiết hóa đơn @Model.InvoiceID</a></li>
    </ol>
</nav>
<h1>Chi tiết hóa đơn</h1>

<div class="invoice-container">
    <a id="btnExportPdf" class="btn btn-success" asp-action="GenerateInvoicePDF" asp-route-invoiceId="@Model.InvoiceID">
        <i style="color:white" class="icofont-printer"></i> <span style="color:white">  In hóa đơn</span>
    </a>
    <div style="margin-left:90px;text-align:center;">
        <h4>Hóa đơn thanh toán</h4>
    </div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvoiceID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AttendanceDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AttendanceDate)
        </dd>
       
            <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BranchId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Branch.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HallId)
        </dt>
        <dd class="col-sm-10">
            <div class="hall-info">
                <div class="hall-name">@Html.DisplayFor(model => model.Hall.Name)</div>
                <div class="hall-price">@Html.DisplayFor(model => model.Hall.Price)</div>
            </div>
        </dd>
     
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderMenus)
        </dt>
        <dd class="col-sm-10">
            <hr />
            @foreach (var orderMenu in Model.OrderMenus)
            {
                <div class="menu-item">
                    <div class="menu-name">@orderMenu.MenuEntity.Name</div>
                    <div class="menu-price">@string.Format("{0:0,0} VND", @orderMenu.MenuEntity.Price.Value)</div>
                </div>
                <hr />
            }
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderServices)
        </dt>
        <dd class="col-sm-10">
            <hr />
            @foreach (var orderService in Model.OrderServices)
            {
                <div class="service-item">
                    <span class="service-name">@orderService.ServiceEntity.Name</span>
                    <span class="service-price">@string.Format("{0:0,0} VND", orderService.ServiceEntity.Price.Value)</span>
                </div>
                <hr />
            }
        </dd>
        <dt class="col-sm-2">
            Tổng thanh toán
        </dt>
        <dd class="col-sm-10">
            <span class="total-amount float-right">@string.Format("{0:0,0} VND", @Model.TotalBeforeDiscount)</span>
        </dd>
        <dt class="col-sm-2">
            Tổng sau khi giảm
        </dt>
        <dd class="col-sm-10">
            <span class="total-amount float-right">@string.Format("{0:0,0} VND", @Model.Total)</span>
        </dd>
       
    </dl>
   
</div>
