@model IEnumerable<CodeFirst.Models.Entities.Invoice>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hall)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceID)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Branch.BranchId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hall.HallId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InvoiceID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InvoiceID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InvoiceID">Delete</a>
                    <a asp-action="GenerateInvoicePDF" asp-route-invoiceId="@item.InvoiceID">Print</a>
            </td>
        </tr>
}
    </tbody>
</table>
