@model IEnumerable<CodeFirst.Models.Entities.MenuItemComboMenu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Quản lý món ăn trong combo</h1>

<div class="d-flex justify-content-between">

<p>
    <a class="btn btn-outline-primary" asp-action="AddMenuToCombo">Thêm combo</a>
</p>
<p>
    <a class="btn btn-outline-primary" asp-action="Index" asp-controller="ComboMenuEntity">Quản lý combo</a>
</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenuEntity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComboMenuEntity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MenuEntity.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComboMenuEntity.Name)
            </td>
            <td>
                    <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.MenuItemComboMenuId">Sửa</a> |
                    <a class="btn btn-outline-success" asp-action="Details" asp-route-id="@item.MenuItemComboMenuId">Chi tiết</a> |
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.MenuItemComboMenuId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
