@model CodeFirst.Models.Entities.MenuEntity

@{
    ViewData["Title"] = "Details";
}

<style>
    .row {
        display: flex;
    }

    .left-column {
        flex: 80%;
    }

    .right-column {
        flex: 30%;
        padding: 0 15px;
    }

    .menu-image {
        max-width: 100%;
        height: auto;
        width: 100%;
        max-height: 330px;
        object-fit: cover;
    }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Identity" asp-page="/Account/Manage/Index">Trang chủ</a></li>
        <li class="breadcrumb-item"><a asp-area="Admin" asp-action="Index" asp-controller="Menu">Quản lý thực đơn</a></li>
        <li class="breadcrumb-item"><a class="my-active-link" asp-area="Admin" asp-action="Details" asp-controller="Menu">Chi tiết thực đơn</a></li>
    </ol>
</nav>
<h1>Chi tiết món ăn</h1>

<div style="margin: 0 auto; max-width: 800px;">
    <hr />

    <div class="row">
        <div class="left-column col-sm-9">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>
               
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.MenuCategory)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.MenuCategory.Name)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Price)
                </dd>
            </dl>
        </div>
        <div class="right-column col-sm-3">
            <img src="@Model.Image" class="menu-image" alt="Hình ảnh món ăn">
        </div>
    </div>
</div>
