@model IEnumerable<CodeFirst.Models.Entities.MenuEntity>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<nav aria-label="breadcrumb" >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Identity" asp-page="/Account/Manage/Index">Trang chủ</a></li>
        <li class="breadcrumb-item"><a class="my-active-link"  asp-area="Admin" asp-action="Index" asp-controller="Menu">Quản lý thực đơn</a></li>
    </ol>
</nav>

<h1>Quản lý thực đơn</h1>

<hr />

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Thêm món mới</a>
</p>
<form asp-action="Index" method="get">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="categoryId">Chọn thể loại:</label>
                <select class="form-control" id="categoryId" name="categoryId">
                    <option value="">Tất cả</option>
                    @foreach (var category in ViewBag.Categories)
                    {
                        <option value="@category.CategoryId">@category.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="searchString">Tìm kiếm:</label>
                <input type="text" class="form-control" id="searchString" name="searchString">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <button type="submit" class="btn btn-primary" style="margin-top:1.3rem">Tìm kiếm</button>
            </div>
        </div>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuCategory.Name)
            </td>
            <td>
                <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.MenuId">Sửa</a> |
                <a class="btn btn-outline-success" asp-action="Details" asp-route-id="@item.MenuId">Chi tiết</a> |
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.MenuId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
