@model IEnumerable<CodeFirst.Models.Entities.ComboMenuEntity>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Quản lý danh sách Combo</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Thêm combo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComboPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComboPrice)
            </td>
            <td>
                <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.ComboMenuId">Sửa</a> |
                    <a class="btn btn-outline-success" asp-action="Details" asp-route-id="@item.ComboMenuId">Chi tiết</a> |
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.ComboMenuId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
