@model IEnumerable<CodeFirst.Models.Entities.ChatPrivate>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SenderUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiverUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotificationDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SenderUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiverUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotificationDateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ChatPrivateId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ChatPrivateId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ChatPrivateId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
